/* font*/
/* font-family: 'Komikandy', sans-serif; */
/*  */
header,
main,
.container {
  margin: auto auto 1rem auto;
  border-radius: 10px;
  align-items: center;
}
/*header*/
header {
  height: 3rem;
  background-color: var(--boardgame-color);
  width: 90%;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
}
header,
#header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*main*/
.container {
  display: flex;
  justify-content: space-around;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
}
.main-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  margin: auto;
  background-color: var(--boardgame-color);
}
#head-game {
  justify-content: space-around;
  max-width: 75%;
  height: 3rem;
  background-color: whitesmoke;
  margin-top: 1.2rem;
}
.player-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 23rem;
  text-align: center;
  align-items: center;
}
.player-board > img {
  height: 7rem;
  width: 5rem;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  border-radius: 10px;
  margin: auto;
}
.player-board > h2 {
  height: 2rem;
  width: 7rem;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  border-radius: 10px;
  margin: auto;
  align-items: center;
}
.playing > h2 {
  background-color: whitesmoke;
}
.playing > img {
  background-color: whitesmoke;
}
.dice-box {
  display: flex;
  flex-direction: column;
  height: 9rem;
  width: 2.5rem;
  margin: auto 0 auto 0;
}
#dice-box-board {
  display: flex;
  height: 2.5rem;
  width: 9rem;
  justify-content: space-around;
}

#gameboard {
  flex-direction: column;
  text-align: center;
  /* background-color: var(--boardgame-color); */
  /* border-radius: 50%; */
  width: 20rem;
  height: 20rem;
  border: none;
  box-shadow: none;
  margin: auto 1em auto 1em;
}
#pot {
  width: 17vh;
  height: 17vh;
  margin-top: 10px;
}
#pot,
#box-token1,
#box-token2 {
  display: flex;
  flex-wrap: wrap;
}
#pot.tokens-box {
  width: 150px;
  height: 65px;
}
#box-token1.tokens-box,
#box-token2.tokens-box {
  width: 65px;
  height: 150px;
}
.token {
  max-width: 20px;
  max-height: 20px;
}
.tokens-box {
  border-radius: 10px;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  margin: auto;
}
#dialog-box {
  margin: auto;
}
/****** rules Modal ***/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background: rgb(230, 227, 221);
  margin: 3em auto; /* 15% from the top and centered */
  padding: 2em;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-weight: bold;
  font-size: 2em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#rules {
  display: none;
  font-size: 1.3rem;
}
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.5rem;
}
/* 
td {
  margin: 0;
  padding: 0;
} */
.cell-combi {
  height: 2em;
  width: 50em;
  border: 4px solid brown;
}
.cell-rest {
  height: 4em;
  width: 50em;
  border: 4px solid brown;
}
.cell-value {
  border: 4px solid brown;
  height: 2em;
  width: 10em;
  padding-left: 1em;
}
/********* END RULES MODAL**********/
/************ Mobile *********/

@media (max-height: 450px) {
  /** anim token ***/
  .tokentoright {
    animation: tokenright 1s;
  }
  @keyframes tokenright {
    0% {
      transform: translateZ(40px) translateX(0px);
    }
    100% {
      transform: translateZ(0px) translateX(400px);
    }
  }
  .tokentoleft {
    animation: tokenleft 1s;
  }
  @keyframes tokenleft {
    0% {
      transform: translateZ(40px) translateX(0px);
    }
    100% {
      transform: translateZ(0px) translateX(-400px);
    }
  }
  body {
    font: 400 150%/1 "Fredoka One", cursive;
    margin: 6px;
  }
  main {
    width: 100%;
  }
  button {
    height: 1rem;
    font-size: 0.5em;
    margin: 0.2em 1em 0.2em 1em;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header {
    height: 1.5rem;
    width: 90%;
    align-items: center;
  }
  header > button {
    margin-top: 0.25rem;
  }
  h1 {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  #head-game {
    height: 2rem;
    margin-top: 0;
  }
  .main-container {
    justify-content: space-around;
    width: 90%;
    background-color: var(--boardgame-color);
    border-radius: 10px;
    border: 2px solid brown;
    box-shadow: 0 0 0 4px black;
    margin: auto;
  }
  .player-board {
    justify-content: space-between;
    width: 5rem;
    height: 10rem;
  }
  .player-board > h2 {
    height: 1rem;
    width: 3rem;
    border: 1px solid brown;
    box-shadow: 0 0 0 3px black;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  }
  .player-board > img {
    height: 3rem;
    width: 2.4rem;
    border: 1px solid brown;
    box-shadow: 0 0 0 2px black;
  }
  .token {
    max-width: 14px;
    max-height: 14px;
  }
  #pot.tokens-box {
    margin-top: -5px;
    width: 80px;
    height: 75px;
  }
  #box-token1.tokens-box,
  #box-token2.tokens-box {
    width: 75px;
    height: 80px;
  }
  #gameboard {
    width: 7rem;
    height: 7rem;
    border: none;
    box-shadow: none;
  }
  #pot {
    width: 7rem;
    height: 5rem;
  }
  .tokens-box {
    width: 5rem;
    height: 4rem;
  }
  #text-box {
    width: 5rem;
    margin: auto;
  }
  label {
    font-size: 0.7rem;
  }
  input[type="text"] {
    width: 5rem;
    height: 0.5rem;
  }
  #player-box {
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: 1px solid black;
    height: 10rem;
    margin: 0.5rem 0 0.5rem 0;
  }
}
@media (min-height: 450px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  /** anim token ***/
  .tokentoright {
    animation: tokenright 1s;
  }
  @keyframes tokenright {
    0% {
      transform: translateZ(40px) translateX(0px);
    }
    100% {
      transform: translateZ(0px) translateX(600px);
    }
  }
  .tokentoleft {
    animation: tokenleft 1s;
  }
  @keyframes tokenleft {
    0% {
      transform: translateZ(40px) translateX(0px);
    }
    100% {
      transform: translateZ(0px) translateX(-600px);
    }
  }
}
