header {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 10%;
}
.container {
  display: flex;
  justify-content: space-around;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
#settings-box {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
#text-box {
  width: 10rem;
  margin: auto;
}
#player-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 23rem;
  text-align: center;
  border: 1px solid black;
}
.avatars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.avatars > img {
  margin: 0.8rem;
}
.avatar-item {
  height: 5rem;
  width: 4rem;
  margin: auto;
}
input[type="text"] {
  width: 10rem;
}
#avatar-player {
  height: 5rem;
  width: 4.5rem;
  outline: solid black;
}
#avatar-player > img {
  margin-bottom: auto auto 0 auto;
}

/************ Mobile *********/

@media (max-height: 450px) {
  body {
    font: 400 100%/1 "Fredoka One", cursive;
  }
  button {
    height: 1.5rem;
    font-size: 0.5em;
    margin: 0 1em 0.5em 1em;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  h1 {
    font-size: 1rem;
    margin-left: 1rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  #text-box {
    width: 5rem;
    margin: auto;
  }
  label {
    font-size: 0.7rem;
  }
  input[type="text"] {
    width: 5rem;
    height: 0.5rem;
  }
  #player-box {
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: 1px solid black;
    height: 10rem;
    margin: 0.5rem 0 0.5rem 0;
  }
  .avatars > img {
    margin: 0.2rem;
  }
  .avatar-item,
  #avatar-player {
    height: 2rem;
    width: 1.7rem;
    margin: auto;
  }
}
@media (min-height: 450px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
