/* font*/

/*  */
header,
main,
.container {
  margin: auto auto 1rem auto;
  border-radius: 10px;
  align-items: center;
}
/*header*/
header {
  height: 3rem;
  background-color: var(--boardgame-color);
  width: 98%;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
}
header,
#header-title {
  display: flex;
  justify-content: space-around;
}

/*main*/
.container {
  display: flex;
  justify-content: space-around;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
}
.main-container {
  display: flex;
  justify-content: space-around;
}
#head-game {
  width: 70%;
  height: 3rem;
  background-color: whitesmoke;
}
.player-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 23rem;
  text-align: center;
}
.player-board > img {
  height: 7rem;
  width: 5rem;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  border-radius: 10px;
  margin: auto;
}
.player-board > h2 {
  height: 2rem;
  width: 7rem;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  border-radius: 10px;
  margin: auto;
  align-items: center;
}
.dice-box {
  display: flex;
  flex-direction: column;
  height: 9rem;
  width: 2.5rem;
  margin: auto 0 auto 0;
}
#dice-box-board {
  display: flex;

  height: 2.5rem;
  width: 9rem;
  margin: auto 0 auto 0;
}

#gameboard {
  text-align: center;
  background-color: var(--boardgame-color);
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  border: 4px solid brown;
  box-shadow: 0 0 0 12px black;
  margin: auto 1em auto 1em;
}
.tokens-box {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  border: 2px solid brown;
  box-shadow: 0 0 0 4px black;
  margin: auto;
}
#dialog-box {
  width: 70%;
  height: 4rem;
  background-color: brown;
  margin: auto;
}
